<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acin.josefigueira.sosalert">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_sos_btn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".View.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.WelcomeMainActivity" />

        <activity
            android:name=".View.FormActivity" />

        <activity
            android:name=".View.SOSActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />

        <activity
            android:name=".View.MainMenuActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize" />

    </application>



</manifest>